body {
 margin: 0;
 text-align:center;
 font-family: 'Merriweather', serif;
}

div {
 background-color: #E4F9F5;
}

h1 {
 margin: 50px auto 0 auto;
 font-family: 'Sacramento', cursive; 
 font-size: 5.625rem;
}

h2,h3{
 font-family: 'Montserrat', sans-serif;
 /* font-size: 2.5rem; */
 font-weight: 500;
}

.top-container{
 padding: 20px;
}
.middle-container {
}

.bottom-container {
}
.soft{
 text-decoration:underline;
}

.bottom-cloud{
 position:absolute;
}
.top-cloud{
 position:relative;
 left:200px
}